<div class="about_me">
    <div class="row about_me_row">
        <div class="col-md-5 img_div">
            image
        </div>
        <div class="col-md-7 info_div">
            <span>My Intro<br></span>
            <span class="about_me_text">About Me<br></span>
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsum fugit,<br>
                maxime soluta voluptatum sequi quae voluptatem vel eligendi laboriosam accusamus,<br>
                a magni enim? Mollitia blanditiis fugiat rerum beatae sapiente.</p>

            <div class="row info_details">
                <div class="col-md-2">
                    <p>Name</p>
                    <p>Phone</p>
                    <p>Email</p>
                </div>
                <div class="col-md-1">
                    <p>:</p>
                    <p>:</p>
                    <p>:</p>
                </div>
                <div class="col-md-9">
                    <p>Elmar John Batayola</p>
                    <p>0950-146-7127</p>
                    <p>elmarjohnbatayola@gmail.com</p>
                </div>
            </div>

            <div class="interest">
                <p>My Interests</p>
                <div class="row">
                    <div class="col-md-2">Music</div>
                    <div class="col-md-2">Travel</div>
                    <div class="col-md-2">Movie</div>
                    <div class="col-md-2">Sports</div>
                </div>
            </div>
        </div>
    </div>
</div>