<div class="intro_div">
    <div class="row">
        <div class="col-md-7">
            <span class="hi_text">Hi, I am<br></span>
            <span class="name_text">Elmar John Batayola<br></span>
            <span class="position_text">Software Developer | Computer Engineer<br></span>
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsum fugit,<br>
                maxime soluta voluptatum sequi quae voluptatem vel eligendi laboriosam accusamus,<br>
                a magni enim? Mollitia blanditiis fugiat rerum beatae sapiente.</p>

            <div class="mt-5">
                <button class="btn btn_download mr-5">Download CV</button>
                <button class="btn btn_contact">Contact Me</button>
            </div>
        </div>
        <div class="col-md-5">
            image
        </div>
    </div>
</div>
<div class="intro_bottom">
    <div class="row intro_row">
        <div class="col-md-4">Experince</div>
        <div class="col-md-4">Completed</div>
        <div class="col-md-4">Online</div>
    </div>
</div>